<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Snowtricks{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <!-- VueJS -->
            <script src="https://code.jquery.com/jquery-2.2.4.min.js"
                    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
                    crossorigin="anonymous"></script>
            <script src="{{ asset('prod/build.js') }}"></script>
            <script src="{{ asset('prod/js/_form.js') }}"></script>
        {% endblock %}
    </body>
</html>
