{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(tricks) }}
        {{ form_row(tricks) }}
        <button type="submit" name="submit">Ajouter</button>
    {{ form_end(tricks) }}
{% endblock %}