{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(password) }}
        {{ form_row(password) }}
        <button type="submit" name="submit">Demander un mot de passe</button>
    {{ form_end(password) }}
{% endblock %}
